.App {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  background-color: rgb(235, 238, 242);

}
.flex{
  display: flex;
}
.center {
  display: flex;
  justify-content :center;
  align-items: center;
  
}

.center-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-sb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.full-width{
  width: 100%;
}
.full-height{
  height: 100%;
}

.screenH{
  height: 100vh;
}

.text-center{
  text-align: center;
}