.resetcontainer{
    width: 300px;
    height: max-content;
    background-color: rgb(195, 218, 221);
    padding:  30px;
}
.resethead{
    font-weight: 700;
    font-size: 20px;
}
.resetInput{
    font-size: 18px;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}