.navbar-container{
    background-color: white;
}
.navbar-brand img{
    width: 40px;
    height:40px;
}

.navbar-signup-btn{
    position: absolute;
    right : 40px;
}
.feature, .collapse{
    display: flex;
    align-items: center;

}
.options{
    position: absolute;
    top : 60px;
    right: 55px;
    background-color: white;
    visibility: hidden;
    z-index: 10;
    
}

.active{
    opacity: 1;
    visibility: visible;
    top: 60px;
}
.navbar input {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: rgb(219, 217, 217);
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
    color : black;
    font-weight: 400;
}
